{% load static %}

<div class="topheader">
		<div class="container">
			<ul class="menu">
				<li>Uzbekiston Markaziy bankining bugungi kursi</li>
			</ul>
			<ul class="kurs">
				{% for i in valyuta %}
					{% if i.Ccy == "USD" or i.Ccy == "EUR" or i.Ccy == "RUB" %}
						<li>1 {{ i.Ccy }} {{ i.Rate }}</li>
					{% endif %}
				{% endfor %}
			</ul>
			<ul class="social">
				<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
				<li><a href="#"><span class="fa fa-twitter"></span></a></li>
				<li><a href="#"><span class="fa fa-instagram"></span></a></li>
				<li><a href="#"><span class="fa fa-telegram"></span></a></li>
				<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
			</ul>
		</div>
	</div>